# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/.next-corrupt
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env / secrets
.env.local
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts
# dev server 输出日志
dev-server*.log
